#password{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#eyeSlashIcon{
    position: absolute;
    margin-right: 8px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}