#password{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#eyeSlashIcon{
    position: absolute;
    margin-right: 8px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
*{
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}